# ─── Base de données ──────────────────────────────────────────────────────────
POSTGRES_USER=POSTGRES_USER
POSTGRES_PASSWORD=POSTGRES_PASSWORD
POSTGRES_DB=POSTGRES_DB
# Dev uniquement (pour exposer la BDD en local) :
# POSTGRES_PORT=5432
DATABASE_URL=postgresql://POSTGRES_USER:POSTGRES_PASSWORD@db:5432/POSTGRES_DB

# ─── Adminer (dev + preprod uniquement) ───────────────────────────────────────
ADMINER_PORT=ADMINER_PORT

# ─── Backend ──────────────────────────────────────────────────────────────────
BACKEND_PORT=BACKEND_PORT
BACKEND_JWT_REFRESH_SECRET=BACKEND_JWT_REFRESH_SECRET
BACKEND_JWT_REFRESH_TTL=604800
BACKEND_JWT_ACCESS_SECRET=BACKEND_JWT_ACCESS_SECRET
BACKEND_JWT_ACCESS_TTL=900
BACKEND_CORS_ALLOWED=http://localhost:FRONTEND_PORT

# ─── Frontend ─────────────────────────────────────────────────────────────────
FRONTEND_PORT=FRONTEND_PORT
FRONTEND_VITE_API_BASE_URL=http://localhost:BACKEND_PORT/api
