@import "tailwindcss";

@theme {
  --color-primary: #1a1a2e;
  --color-secondary: #6b2737;
  --color-secondary-hover: #7d2e40;
  --color-beige: #f5f0e8;
  --color-beige-light: #fbfbe2;
  --color-beige-medium: #e8e0d0;
  --color-gold: #c9a96e;

  --font-family-sans-serif: "Atkinson Hyperlegible", sans-serif;
  --font-family-access: "Inter", sans-serif;
}

body {
  background-color: #fbfbe2;
}
